@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
/*------------------------------------Header----------------------*/
header{
    width: 1440px;
    height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #EFF0F3;
    box-shadow: 4px 6px 13px 0 rgba(215, 215, 215, 0.1);
}
nav{
    width: 1250px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}
nav div.text{
    display: flex;
    justify-content: center;
    align-items: center;
}
nav h4{
    width: 146px;
    height: 45px;
    color: #001858;
    font-size: 36px;
    font-weight: 600;
    text-align: right;
}
nav p{
    width: 48px;
    height: 27px;
    color: #6246EA;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    padding-top: 10px;
}
ul{
    width: 756px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
ul li{
    width: auto;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    padding: 0 10px;

}
ul li:hover{
    border-radius: 4px;
    background: #6246EA;
    color: #FFFFFE;

}
ul li img{
    padding-right: 10px;

}
/*-------------------------------section Dasteen-----------------*/
section.Dasteen{
    width: 1440px;
    height: 814px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EFF0F3;
    padding: 0 95px;
}
section.Dasteen_text{
    width: 664px;
    height: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 185px 58px 284px 95px;

}
section.Dasteen_img{
    width: 470px;
    height: 387px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 250px 95px 263px 58px;

}
section.Dasteen h1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #2B2C34;
    width: 617px;
    height: 162px;
    font-size: 64px;
    font-weight: 700;
}
section.Dasteen p{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 652px;
    height: 50px;
    color:  #9A9494;
    font-size: 20px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-left: 12px;
    border-left: 3px solid  #2B2C34 ;
}
form{
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="email"]{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 444px;
    height: 67px;
    border-radius: 8px;
    background: #FFFFFE;
    color:  #C0C0C0;
    font-size: 20px;
    border: none;
    font-weight: 400;
    padding: 21px 200px 21px 25px;
    margin-right: 20px;
}
button.Dst{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 145px;
    height: 67px;
    color: #FFFFFE;
    font-size: 20px;
    font-weight: 700;
    border-radius: 8px;
    background: #6246EA;
    margin-right: 50px;
}
/*-----------------------------------------------------------------*/