* {
    list-style-type: none;
}

#One>ul>li:nth-child(even) {
    color: hotpink;
}

#Two>ul>li:nth-child(odd) {
    font-size: 22px;
}

#Three>ul>li:nth-child(2n+4)::after {
    content: "!";
}

#Four>ul>li:last-of-type {
    color: purple;
}

#Five>ul>li:first-letter {
    font-size: 30px;
    color: red;
}
